<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveWrestler()"
          [formGroup]="wrestlerForm">

          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="wrestlerLastNameId">Product Name:</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="wrestlerLastNameId"
                     type="text"
                     placeholder="Product Name (required)"
                     formControlName="wrestlerLastName"
                     [ngClass]="{'is-invalid': displayMessage.wrestlerLastName}" />
              <span class="invalid-feedback">
                {{displayMessage.wrestlerLastName}}
              </span>
            </div>
          </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="nameId">Description:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="nameId"
                 type="text"
                 placeholder="Description"
                 formControlName="wrestlerFirstName"
                 [ngClass]="{'is-invalid': displayMessage.wrestlerFirstName }" />
          <span class="invalid-feedback">
            {{displayMessage.wrestlerFirstName}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="wrestlerCollegeId">Product Type:<br>***This need to link to different</label>
        <div class="col-md-8">
            <select formControlName="wrestlerCollege">
                <option *ngFor="let college of colleges" [attr.selected]="wrestlerCollege===college" value={{college}}>{{college}}</option>
            </select>
          <span class="invalid-feedback">
            {{displayMessage.wrestlerCollege}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="wrestlerConferenceId">Cost:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="wrestlerConferenceId"
                 type="dropdown"
                 placeholder="$"
                 formControlName="wrestlerYearCollege"
                 [ngClass]="{'is-invalid': displayMessage.wrestlerYearCollege}" />
          <span class="invalid-feedback">
            {{displayMessage.wrestlerYearCollege}}
          </span>
        </div>
      </div>



      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="wrestlerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!wrestlerForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/wrestlers']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this wrestler"
                  (click)="deleteWrestler()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
