<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveOrder()"
          [formGroup]="orderForm" autofocus>

          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="orderInvoiceNumId">Invoice #:</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="orderInvoiceNumId"
                     type="text"
                     placeholder="Invoice #"
                     formControlName="orderInvoiceNum"
                     [ngClass]="{'is-invalid': displayMessage.orderInvoiceNum }" />
              <span class="invalid-feedback">
                {{displayMessage.orderInvoiceNum}}
              </span>
            </div>
          </div>

      <div class="form-group row mb-2">
        <a class="col-md-2 col-form-label" for="orderSportId">Dispensary:<br>
          <a href="http://www.google.com">create a new</a></a>  <!--create a link to create a new dispensary-->
        <div class="col-md-8">
          <select id="orderSportId"  formControlName="orderSport">
                <option *ngFor="let stc of sts" [attr.selected]="orderSport==stc ? true :  null" [value]="stc">{{stc}}</option>
              </select>
          <span class="invalid-feedback">
            {{displayMessage.orderSport}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="orderStartDateId">Invoice Date:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="orderStartDateId"
                 type="date"
                 placeholder="Invoice Date"
                 formControlName="orderStartDate"
                 [ngClass]="{'is-invalid': displayMessage.orderStartDate }" />
          <span class="invalid-feedback">
            {{displayMessage.orderStartDate}}
          </span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="orderEndDateId">Due Date:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="orderEndDateId"
                 type="date"
                 placeholder="Due Date"
                 formControlName="orderEndDate"
                 [ngClass]="{'is-invalid': displayMessage.orderEndDate }" />
          <span class="invalid-feedback">
            {{displayMessage.orderEndDate}}
          </span>
        </div>
      </div>



      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="orderImageUrlId">PO#:</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="orderImageUrlId"
                 type="text"
                 placeholder="PO#"
                 formControlName="orderImageUrl"
                 [ngClass]="{'is-invalid': displayMessage.orderImageUrl }" />
          <span class="invalid-feedback">
            {{displayMessage.orderImageUrl}}
          </span>
        </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label"
             for="orderOrganizerFullNameId">Partial/Deposit:</label>
      <div class="col-md-8">
        <input class="form-control"
               id="orderOrganizerFullNameId"
               type="text"
               placeholder="Partial Payment/Deposit"
               formControlName="orderOrganizerFullName"
               [ngClass]="{'is-invalid': displayMessage.orderOrganizerFullName }" />
        <span class="invalid-feedback">
          {{displayMessage.orderOrganizerFullName}}
        </span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label"
             for="orderOrganizerPhoneId">Discount:</label>
      <div class="col-md-8">
        <input class="form-control"
               id="orderOrganizerPhoneId"
               type="text"
               placeholder="Discount Amount or Percentage"
               formControlName="orderOrganizerPhone"
               [ngClass]="{'is-invalid': displayMessage.orderOrganizerPhone }" />
        <span class="invalid-feedback">
          {{displayMessage.orderOrganizerPhone}}
        </span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label"
             for="orderExtraInstructionsId">Auto Billing:</label>

      <div class="col-md-8">
        <textarea class="form-control"
                  id="orderExtraInstructionsId"
                  placeholder=" (single, monthly, etc)"
                  rows=3
                  formControlName="orderExtraInstructions"
                  [ngClass]="{'is-invalid': displayMessage.orderExtraInstructions}"></textarea>
        <span class="invalid-feedback">
          {{ displayMessage.orderExtraInstructions}}
        </span>
      </div>
    </div>
<!-- Divide out the Information (static creation) from the setup (dynamic - user generated) -->
<div><HR WIDTH="100%" COLOR="#6699FF"><br>Product Line Items:<br><br></div>


  <div class="form-group row mb-2">
    <label class="col-md-2 col-form-label"
           for="orderBracketTypeId">Product:</label>
    <div class="col-md-8">
      <input class="form-control"
             id="orderBracketTypeId"
             type="text"
             placeholder="This will be multiple lines where one will get picked and then another drop down will appear"
             formControlName="orderBracketType"
             [ngClass]="{'is-invalid': displayMessage.orderBracketType }" />
      <span class="invalid-feedback">
        {{displayMessage.orderBracketType}}
      </span>
    </div>
  </div>


      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="orderForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!orderForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/orders']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this order"
                  (click)="deleteOrder()">
            Delete
          </button>
        </div>
      </div>
    </form><br><br><br>
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXX     PDF APPEARS HERE     XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
