<div class="card">
  <div class="card-header bg-info text-white">
    {{pageTitle}}
  </div>
  <div class="card-body col-md-*">
    <div class="container-fluid">
      <div class="text-center splash">
        <h1>Welcome</h1>
      </div>
      <div class="text-center splash">Developed by:</div>
      <div class="text-center splash">
        <h3>ngMafia</h3>
      </div>

      <div class="text-center splash">Scott Chapman, Brian Chirgwin, and Daniel Walter</div>
      <div class="text-center splash">
        <a href="http://www.github.com">GitHub</a>
      </div>
    </div>
  </div>
</div>
